
header {
  margin-bottom: 20px;
  
  &.mk-header-layout {
    background-color: rgba(255,255,255, 1);
  }
  
  /* Header search */
  .mk-header-search {
    padding: 0 0 0 15px;
  }
  .mk-toolbar {
    
    .mk-header-logo {}
    
    .mk-header-general-top-menu {

      /* Top menu */
      .mk-header-top-menu {
        margin-right: 10px;

        
        .mk-top-navbar-nav {

          .uk-navbar-nav {

            li {

              a {
                font-family: "OpenSansRegular", sans-serif;
              }
            }
          }
        }
      }
    }
  }
  
  
  /* Bottom menu toolbar */
  .mk-navbar {
    overflow: hidden;
    padding: 10px 0;
    background: transparent;

    /* Main menu */
    .mk-mainmenu-navbar-nav {
      overflow: hidden;
      text-transform: uppercase;
    }
  }
  
}