
<template name="mainLayout">
    <div class="wrapper">
        <header id="header-nav" class="mk-header-layout">
            {{> yield "header"}}
        </header>
    
        {{#if isNotActivePath '/'}}
            {{> breadcrumbs}}
        {{/if}}
       
        <div class="mk-middle-layout">
            <div class="uk-container uk-container-center mk-content">
                {{> yield}}
            </div>
        </div>
        
        <footer class="mk-footer-layout">
            {{> yield "footer"}}
        </footer>
    </div>
</template>






<!-- ************************************** -->

<template name="appHeader">
    {{> appHeaderTmpl}}
</template>


<template name="appFooter">
    <div class="uk-container uk-container-center" style="height: 30vh">
        <article class="uk-article uk-hidden">
            <div class="mk-bottom-decription">
                <p>Дилинговый центр <strong>InstaForex</strong> предоставляет доступ к международным торговым Forex площадкам интернет трейдинга в режиме онлайн. Наши клиенты управляют своими средствами на валютном рынке Forex, не выходя из дома или офиса. Помимо получения информации о последних событиях в финансовом мире и чтения&nbsp;Forex прогнозов&nbsp;вы можете пройти обучение Форекс трейдингу, получив бесплатный демонстрационный счет биржи Forex. С нашим дилинговым центром процесс Forex обучения максимально упрощен. У нас отсутствуют любые ограничения на размер депозита и сделок на Forex. Контрагентами <strong>InstaForex</strong> являются ведущие Форекс брокеры по всему миру. Работа с западными брокерами позволяет обеспечить круглосуточное перекрытие всех клиентских сделок на бирже Forex. Именно поэтому, открывая счет в дилинговом центре InstaForex, вы получаете прямой доступ к рынку и валютным операциям&nbsp;Forex.</p>
                <p> Ни один брокер Forex не дает гарантии получить прибыль. Работа на валютной бирже Форекс несет в себе риски полной или частичной потери средств. Мы предоставляем возможность работы на рынке без свопов. Это должен учитывать каждый трейдер, планирующий заработать на Forex инвестициями. Рынок Форекс является высокодоходным и высокорисковым средством инвестирования денежных средств. Тем не менее, Форекс брокер <strong>InstaForex</strong> гарантирует сохранность средств своих клиентов и надежную защиту от неторговых рисков для средств на Форекс-счетах клиентов. Лучшие торговые условия для Forex счетов и система поощрения&nbsp;Форекс<strong> бонусами&nbsp;в размере 30% </strong>- это качественная помощь каждому трейдеру валютного рынка Forex / Форекс в его ежедневной торговле. Мы не гарантируем вашу прибыль на Форекс, но мы предоставляем торговые условия, повышающие вероятность прибыльного результата вашей Forex торговли в большей мере, чем это делают наши конкуренты.</p>
                <p>  По состоянию на 1 января 2011 года открыто более 200 представительств группы компаний InstaForex по всему миру. Признание уровня и качества работы InstaForex позволило компании получить премию <strong>"Лучший брокер в Азии"</strong> за 2009 год от международного экономического журнала World Finance. InstaForex - международный лидер рынка брокерских услуг на рынке Forex.</p>
            </div>

            <hr class="uk-article-divider">
            
            <div>
                Lorem ipsum dolor.
            </div>
            
        </article>
    </div>
</template>