# ignore temp office files:
~$*.xlsx
~$*.docx
~*.tmp

.DS_Store

#IDE files:
.idea/workspace.xml
meteor-app/.idea/

# ignore these folders:

meteor-app/settings.json
meteor-app/settings-development.json
meteor-app/settings-production.json