
<template name="homePage">
    
<!--

    <img src="http://fakeimg.pl/250x100/" class="someClass" data-custom="Some value">
    <img src="http://fakeimg.pl/250x100/">
    <img src="http://fakeimg.pl/250x100/">
-->


    <form>

        <button class="btn">Кнопка с текстом</button>
    </form>

    <div class="uk-grid">
        <div class="uk-width-1-2">...</div>
        <div class="uk-width-1-2">...</div>
    </div>

    <a class="uk-button" href="">...</a>
    <button class="uk-button" type="button">...</button>
    <button class="uk-button" type="button" disabled>...</button>
    
</template>
