@import "{}/client/styles/custom/mixin-variables.less";

/* font-family: "LoraRegular"; */
/* font-family: "LoraBold"; */
/* font-family: "LoraItalic"; */
/* font-family: "OpenSansRegular"; */
/* font-family: "OpenSansLight"; */
/* font-family: "OpenSansBold"; */
/*font-family: LoraBoldItalic, "Helvetica Neue", Helvetica, Arial, sans-serif;*/

html,
body {
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

html {
  text-rendering: optimizeLegibility;
  font-family: "OpenSansRegular", sans-serif;
}

.wrapper {
  opacity: 0;
  -webkit-transition:   opacity .5s cubic-bezier(.25,.25,.315,.86);
  transition:           opacity .5s cubic-bezier(.25,.25,.315,.86);
  
  &.loaded {
    opacity: 1;
    
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "LoraBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

.uk-container {
  box-sizing: border-box;
  max-width: 1060px;
}

.mk-content {
  padding: 0;
}

.mk-footer-layout p, .mk-footer-layout a {
  color: @footer-a-color;
}

.mk-footer-layout {
  
  .uk-article-divider {
    border-color: @footer-p-color;
  }
}

.mk-bottom-decription {
  padding-top: 30px;
  
  p {
    text-align: justify;
    text-indent: 1em;
    font-size: 12px;
    color: @footer-p-color;
  }
}

/***** CONTROLS ******/
.mk-header-language {

  .uk-button-group {
    button.uk-button {
      .border-radius(2px,0px,0px,2px);
    }
    a.uk-button {
      .border-radius(0px,2px,2px,0px);
    }
  }
}
/*********************/

